.footer {
    min-height: 250px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    .footerImpresumGroup {
      width: 1000px;
      display: flex;
      text-align: left;
      flex-direction: row;
      align-items: center;
      padding-bottom: 50px;
      margin: auto;
      justify-content: space-between;
      
      .socialMedia {
        display: flex;
        flex-direction: column;
        li{
          list-style: none;
          margin: 7px;
          border-radius: 50%;
          &:hover {
            filter: brightness(0.9);
            cursor: pointer;
            transition-timing-function: ease;
            transition-duration: 0.6s;
          }
    
          svg {
            width: 30px;
            height: 30px;
            padding: 8px;
            border-radius: 10px;
            &:hover {
              cursor: pointer;
              transition-timing-function: ease;
              transition-duration: 0.6s;
            }
          }
        }
      }
    
      .impresum1 {
        display: flex;
        flex-direction: column;
        
        a {
          padding: 10px;
          text-decoration: none;
          float:right;
          &:hover {
            filter: brightness(0.9);
            cursor: pointer;
            transition-timing-function: ease;
            transition-duration: 0.6s;
          }
        }
      }

      .impresum2 {
        display: flex;
        flex-direction: column;
        a {
          padding: 10px;
          text-decoration: none;
          float:right;
          &:hover {
            filter: brightness(0.9);
            cursor: pointer;
            transition-timing-function: ease;
            transition-duration: 0.6s;
          }
        }
      }
    }
    
    .copyright {

      p {
        font-size: 17px;
        padding: 10px;
      }
    }
  }
  
  //phone screen
  @media screen and (max-width: 478px) {
    .footer {
      border-radius: 0px;
    }
  }