.topbar {
  .topbarExtender {
    width: 100%;
    .topbarWrapper {
      margin: auto;
      display: flex;
      max-width: 1260px;
      flex-direction: row;
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      .logo {
        padding-left: 50px;
        svg{
          width: 250px;
          height: 60px;
          &:hover {
            filter: opacity(0.7);
            cursor: pointer;
            transition-timing-function: ease;
          }
        }
      }
  
      .navbarMenu {
        flex: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        a{
          padding-right: 30px;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            filter: opacity(0.7);
            cursor: pointer;
            transition-timing-function: ease;
          }
        }

        select {
          appearance: none;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-weight: bold;
          -webkit-appearance: button;
          appearance: button;
          outline: none;
          font-size: 15px;
          option {
            padding: 10px;
            color: inherit;
          }&:hover {
            filter: opacity(0.7);
            cursor: pointer;
            transition-timing-function: ease;
          }
        } 

        button{
          margin-right: 20px;
          background: none;
          color: inherit;
          border: none;
          border-radius: 5px;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit; 
      
          svg {
            width: 25px;
            height: 25px;
            cursor: pointer;
            &:hover {
              filter: opacity(0.7);
              cursor: pointer;
              transition-timing-function: ease;
            }
          }
        }
      }
    }
  }
  
  //phone screen
  @media screen and (max-width: 478px) {
    
    .navbar {
      padding-bottom: 0px;
      border-radius: 0px;
  
      .navbarWrapper {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
  
        .logo {
          a {
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: $SecDarkColor;
            &:hover {
              background-color: $SecLightColor;
              filter: brightness(0.9);
              cursor: pointer;
              transition-timing-function: ease;
              transition-duration: 0.6s;
            }
          }
        }
      }
    }
  }
}