.topbar {
  width: 100%;
  margin: auto;
  .navbarMenu {
    max-width: 1260px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: flex-start;
      svg{
        width: 250px;
        height: 60px;
        &:hover {
          filter: opacity(0.7);
          cursor: pointer;
          transition-timing-function: ease;
        }
      }
    }
    .options {
      display: flex;
      align-items: center;

      a{
        padding-right: 30px;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          filter: opacity(0.7);
          cursor: pointer;
          transition-timing-function: ease;
        }
      }

      select {
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        font-size: 16px;

        option {
          padding: 10px;
          color: inherit;
        }&:hover {
          filter: opacity(0.7);
          cursor: pointer;
          transition-timing-function: ease;
        }
      }
  
      button{
        margin-right: 2em;
        background: none;
        color: inherit;
        border: none;
        border-radius: 5px;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit; 
        padding-right:1em;
        padding-left: 1em;
        svg {
          width: 1.5em;
          height: 1.5em;
          cursor: pointer;
          &:hover {
            filter: opacity(0.7);
            cursor: pointer;
            transition-timing-function: ease;
          }
        }
      }
    }
  }

  .mobNavbarMenu {
    display: none;
  }
}

// Shared styles for laptop and phone
.mobNavbarMenu {
  min-height: fit-content;
  padding: 1.25em;
  position: relative;
  padding: 2em 2em 1.25em 2em;
  a {
    svg {
      width: 150px;
      height: 30px;
    }
  }


  .openCloseIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    width: 100%;

    svg {
      width: 2em;
      height: 2em;
    }

    .mobSubMenu {
      list-style-type: none;
      flex-direction: column;
      font-weight: bold;
      padding: 2em 0em 2em 0em;
      width: 100%;
      border-radius: 3em;
      position: absolute;
      top: calc(100% + 10px); /* Position it just below the parent .openCloseIcon */
      left: 0;
      z-index: 1;

      li{
        padding: 15px;
        margin: 10px;
        a{
          text-decoration: none;
        }
      }
      select {
        padding: 1.5em;
        display: block;
        margin: auto;
        appearance: none;
        background-color: transparent;
        border: none;
        font-weight: bold;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        font-size: 1em;
        option {
          padding: 1em;
          margin: 0;
        }
      }
  
      button{
        display: block;
        margin: auto;
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        outline: inherit; 
    
        svg {
          width: 2em;
          height: 2em;
        }
      }
    }
  }
}

 //Media Query for Laptops
 @media screen and (max-width: 1024px) {
  .topbar {        
    .navbarMenu {
      display: none;
    }
    .mobNavbarMenu {
      display: flex;
    }
  }
}

 //Media Query for Phones
@media screen and (max-width: 478px) {
  .topbar {        
    .navbarMenu {
      display: none;
    }
    .mobNavbarMenu {
      display: flex;
      .openCloseIcon {
        max-width: 40em;
        svg {
          width: 2em;
          height: 2em;
        }
      }
    }
  }
}
