#Dark {
  background-color: $PrimDarkColor;
  color: $SecLightColor;
  
  p{color: $SecLightColor;}
  a{color: $SecLightColor;}
  h2 {color: $SecLightColor;}
  h3 {color:$SecLightColor;}
  label{color: $SecLightColor;}

  .topbar {
    background-color: $SecDarkColor;
    a{
      color: $SecLightColor;
    }
    .navbarMenu {
      .options {
        select {
          color: $SecLightColor;
          option {
            background-color: $SecDarkColor;
          }
        }
    
        button{
          svg {
            fill: yellow;
          }
        }
      }
    }

    .mobNavbarMenu {
      .openCloseIcon {
        svg {
          fill: $SecLightColor;
        }
    
        .mobSubMenu {
          background-color: $PrimDarkColor;
        }
    
        select {
          color: $PrimLightColor;
          option {
            background-color: $PrimDarkColor;
            color: $SecLightColor;
          }
        }
    
        button{
          svg {
            fill: yellow;
          }
        }
      }
    }
  }

  .home {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .offer {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .events {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
    .PostsItems {
      border-color: $ColorOnHover;
    }
  }

  .voucher {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .reservation {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .openinghours {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .team {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
    img {
      border-color: $ColorOnHover;
    }

    a {
      svg{
        stroke: $SecLightColor;
        &:hover {
          stroke: $ColorOnHover;
        }
      }
    }
  }

  .voucher {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .newsletter {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .location {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .jobs {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }
  
  .contactForm{
    .object{
      input, textarea {
        background-color: $SecDarkColor;
      }
    }
  }
  
  .footer{
    background-color: $SecDarkColor;
    .footerImpresumGroup {
      .socialMedia {
        li{
          &:hover {
            background-color: $ColorOnHover;
          }

          svg {
            fill: $SecLightColor;
            &:hover {
              fill: $SecDarkColor;
            }
          }
        }
      }
      .impresum1 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }  
      .impresum2 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }
    }
    .copyright {
      color: $SecLightColor;
      background-color: $PrimDarkColor;
    }
  }

  .nomatch {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }
}
  
//______________________________________________
//______________________________________________
// __________________ LightTheme ______________
//_____________________________________________
//_____________________________________________

#Light {
  background-color: $PrimLightColor;
  color: $SecDarkColor;

  p{color: $PrimDarkColor;}
  a{color: $SecDarkColor;}
  h2{color: $SecDarkColor;}
  label{color: $SecDarkColor;}

  .topbar {
    background-color: $SecLightColor;
    a{
      color: $SecDarkColor;
    }
    .navbarMenu {
      .options {
        select {
          color: $SecDarkColor;
          option {
            background-color: $SecLightColor;
          }
        }
    
        button{
          svg {
            fill: darkblue;
          }
        }
      }
    }

    .mobNavbarMenu {
      .openCloseIcon {
        svg {
          fill: $PrimDarkColor;
        }
    
        .mobSubMenu {
          background-color: $PrimLightColor;
        }
    
        select {

          option {
            background-color: $SecLightColor;
            color: $PrimDarkColor;
          }
        }
    
        button{
          svg {
            fill: darkblue;
          }
        }
      }
    }
  }

  .home {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .events {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
    .PostsItems {
      border-color: $ColorOnHover;
    }
  }

  .newsletter {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .reservation {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .openinghours {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .team {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  
    img {
      border-color: $ColorOnHover;
    }
    a {
      svg{
        stroke: black;
        &:hover {
          stroke: $ColorOnHover;
        }
      }
    }
  }

  .voucher {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .offer {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .location {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .jobs {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .contactForm{
    .object{
      input, textarea {
        background-color: $SecLightColor;
      }
    }
  }

  .footer{
    background-color: $SecLightColor;
    .footerImpresumGroup {
      .socialMedia {
        background-color: $SecLightColor;
        li{
          &:hover {
            background-color: $ColorOnHover; 
          }
          svg {
            fill: $SecDarkColor;
            &:hover {
              fill: $SecLightColor;
            }
          }
        }
      }
      .impresum1 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }  
      .impresum2 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }
    }
    .copyright {
      color: $SecLightColor;
      background-color: $PrimLightColor;
    }
  }

  .nomatch {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }
}