#Dark {
  background-color: $PrimDarkColor;
  color: $SecLightColor;
  
  p{color: $SecLightColor;}
  a {color: $SecLightColor;}
  h2 {color: $SecLightColor;}
  h3 {color:$SecLightColor;}
  label{color: $SecLightColor;}
  svg{fill: $SecLightColor;}

  .topbar{
    a{
      color: $SecLightColor;
    }
    .topbarExtender{
      background-color: $SecDarkColor;
      .topbarWrapper {
        background-color: $SecDarkColor;
        .navbarMenu {
          select{
            color: $SecLightColor;
            option {
              background-color: $SecDarkColor;
            }
          }
          button{
            svg{
              fill: yellow;
            }
          }
        }
      }
    }
  }

  .home {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .cuisine {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .events {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
    .PostsItems {
      border-color: #FF9955;
    }
  }

  .voucher {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .reservation {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .openinghours {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .team {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .voucher {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .newsletter {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }

  .location {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }
  
  .contactForm{
    .object{
      input, textarea {
        background-color: $SecDarkColor;
      }
    }
  }
  
  .footer{
    background-color: $SecDarkColor;
    .footerImpresumGroup {


      .socialMedia {
        li{
          &:hover {
            background-color: $ColorOnHover;
          }

          svg {
            fill: $SecLightColor;
            &:hover {
              fill: $SecDarkColor;
            }
          }
        }
      }
      .impresum1 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }  
      .impresum2 {
        a {
          &:hover{
            color: $SecDarkColor;
            background-color: $ColorOnHover;
          }
        }
      }
    }
    .copyright {
      color: $SecLightColor;
      background-color: $PrimDarkColor;
    }
  }

  .nomatch {
    background-color: $PrimDarkColor;
    color: $SecLightColor;
  }
}
  
//______________________________________________
//______________________________________________
// __________________ LightTheme ______________
//_____________________________________________
//_____________________________________________

#Light {
  background-color: $PrimLightColor;
  color: $SecDarkColor;

  p{color: $PrimDarkColor;}
  a{color: $SecDarkColor;}
  h2{color: $SecDarkColor;}
  label{color: $SecDarkColor;}
  svg{fill: $SecDarkColor;}

  .topbar{
    a{
      color: $SecDarkColor;
    }
    .topbarExtender{
      background-color: $SecLightColor;
      .topbarWrapper {
        background-color: $SecLightColor;
        .navbarMenu {
          select{
            color: $SecDarkColor;
            option {
              background-color: $SecLightColor;
            }
          }
        }
      }
    }
  }

  .home {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .events {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
    .PostsItems {
      border-color: #FF9955;
    }
  }

  .newsletter {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .reservation {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .openinghours {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .team {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .voucher {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .cuisine {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .location {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }

  .contactForm{
    .object{
      input, textarea {
        background-color: $SecLightColor;
      }
    }
  }

  .footer{
    background-color: $SecLightColor;
    .socialMedia {
      background-color: $SecLightColor;
      li{
        &:hover {
          background-color: $SecLightColor; 
        }

        svg {
          fill: $SecDarkColor;
          &:hover {
            fill: $ColorOnHover;
          }
        }
      }
    }

    .impresum {
      a {
        &:hover{
          background-color: $ColorOnHover;
        }
      }
    }
    .copyright {
      color: $SecLightColor;
      background-color: $PrimLightColor;
    }
  }

  .nomatch {
    background-color: $PrimLightColor;
    color: $SecDarkColor;
  }
}

