.image-gallery-icon {
  color: #fff;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #FF9955;
  }
  .image-gallery-icon:hover .image-gallery-svg {
    transform: scale(1.1);
  }
}
.image-gallery-icon:focus {
  outline: 2px solid #FF9955;
}

.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: 20px;
}
.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 15px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 10px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
}
@media (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 72px;
    width: 36px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 48px;
    width: 24px;
  }
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}
.image-gallery-content.image-gallery-thumbnails-left .image-gallery-slide .image-gallery-image, .image-gallery-content.image-gallery-thumbnails-right .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
  display: inline-block;
  width: calc(100% - 110px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
    width: calc(100% - 87px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.image-gallery-center {
  position: relative;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet:focus {
  transform: scale(1.2);
  background: #FF9955;
  border: 1px solid #FF9955;
}
.image-gallery-bullets .image-gallery-bullet.active {
  transform: scale(1.2);
  border: 1px solid #fff;
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #FF9955;
    border: 1px solid #FF9955;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #FF9955;
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  touch-action: pan-x;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
  margin-top: 2px;
}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
  margin: 0 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    margin: 0 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
  background: transparent;
  padding: 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 81px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  display: block;
  position: relative;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #FF9955;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 3px solid #FF9955;
  }
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #FF9955;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #FF9955;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 0 2px 2px #1a1a1a;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.topbar {
  width: 100%;
  margin: auto;
}
.topbar .navbarMenu {
  max-width: 1260px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .navbarMenu .logo {
  display: flex;
  align-items: flex-start;
}
.topbar .navbarMenu .logo svg {
  width: 250px;
  height: 60px;
}
.topbar .navbarMenu .logo svg:hover {
  filter: opacity(0.7);
  cursor: pointer;
  transition-timing-function: ease;
}
.topbar .navbarMenu .options {
  display: flex;
  align-items: center;
}
.topbar .navbarMenu .options a {
  padding-right: 30px;
  text-decoration: none;
  font-weight: bold;
}
.topbar .navbarMenu .options a:hover {
  filter: opacity(0.7);
  cursor: pointer;
  transition-timing-function: ease;
}
.topbar .navbarMenu .options select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
  font-size: 16px;
}
.topbar .navbarMenu .options select option {
  padding: 10px;
  color: inherit;
}
.topbar .navbarMenu .options select:hover {
  filter: opacity(0.7);
  cursor: pointer;
  transition-timing-function: ease;
}
.topbar .navbarMenu .options button {
  margin-right: 2em;
  background: none;
  color: inherit;
  border: none;
  border-radius: 5px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-right: 1em;
  padding-left: 1em;
}
.topbar .navbarMenu .options button svg {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.topbar .navbarMenu .options button svg:hover {
  filter: opacity(0.7);
  cursor: pointer;
  transition-timing-function: ease;
}
.topbar .mobNavbarMenu {
  display: none;
}

.mobNavbarMenu {
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 1.25em;
  position: relative;
  padding: 2em 2em 1.25em 2em;
}
.mobNavbarMenu a svg {
  width: 150px;
  height: 30px;
}
.mobNavbarMenu .openCloseIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  width: 100%;
}
.mobNavbarMenu .openCloseIcon svg {
  width: 2em;
  height: 2em;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu {
  list-style-type: none;
  flex-direction: column;
  font-weight: bold;
  padding: 2em 0em 2em 0em;
  width: 100%;
  border-radius: 3em;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 10;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu li {
  padding: 15px;
  margin: 10px;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu li a {
  text-decoration: none;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu select {
  padding: 1.5em 0em 1.5em 0em;
  display: block;
  margin: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  font-weight: bold;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
  font-size: 1em;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu select option {
  padding: 1em;
  margin: 0;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu button {
  display: block;
  margin: auto;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
}
.mobNavbarMenu .openCloseIcon .mobSubMenu button svg {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 1024px) {
  .topbar .navbarMenu {
    display: none;
  }
  .topbar .mobNavbarMenu {
    display: flex;
  }
}
@media screen and (max-width: 478px) {
  .topbar .navbarMenu {
    display: none;
  }
  .topbar .mobNavbarMenu {
    display: flex;
  }
  .topbar .mobNavbarMenu .openCloseIcon {
    max-width: 40em;
  }
  .topbar .mobNavbarMenu .openCloseIcon svg {
    width: 2em;
    height: 2em;
  }
}
.footer {
  min-height: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.footer .footerImpresumGroup {
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  padding-bottom: 50px;
  margin: auto;
}
.footer .footerImpresumGroup .socialMedia {
  display: flex;
  flex-direction: column;
}
.footer .footerImpresumGroup .socialMedia li {
  list-style: none;
  margin: 7px;
  border-radius: 50%;
}
.footer .footerImpresumGroup .socialMedia li:hover {
  filter: brightness(0.9);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer .footerImpresumGroup .socialMedia li svg {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
}
.footer .footerImpresumGroup .socialMedia li svg:hover {
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer .footerImpresumGroup .impresum1 {
  display: flex;
  flex-direction: column;
}
.footer .footerImpresumGroup .impresum1 a {
  padding: 10px;
  text-decoration: none;
  float: right;
}
.footer .footerImpresumGroup .impresum1 a:hover {
  filter: brightness(0.9);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer .footerImpresumGroup .impresum2 {
  display: flex;
  flex-direction: column;
}
.footer .footerImpresumGroup .impresum2 a {
  padding: 10px;
  text-decoration: none;
  float: right;
}
.footer .footerImpresumGroup .impresum2 a:hover {
  filter: brightness(0.9);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer .copyright p {
  font-size: 17px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 30px;
  }
  .footer .footerImpresumGroup {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 478px) {
  .footer {
    padding-top: 30px;
  }
  .footer .footerImpresumGroup {
    padding-bottom: 20px;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }
  .footer .footerImpresumGroup .socialMedia {
    display: flex;
    flex-direction: row;
  }
  .footer .footerImpresumGroup .impresum1 {
    padding: 10px;
  }
  .footer .footerImpresumGroup .impresum2 {
    padding: 10px;
  }
}
#Dark {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark p {
  color: #F7F8F9;
}
#Dark a {
  color: #F7F8F9;
}
#Dark h2 {
  color: #F7F8F9;
}
#Dark h3 {
  color: #F7F8F9;
}
#Dark label {
  color: #F7F8F9;
}
#Dark .topbar {
  background-color: #000000;
}
#Dark .topbar a {
  color: #F7F8F9;
}
#Dark .topbar .navbarMenu .options select {
  color: #F7F8F9;
}
#Dark .topbar .navbarMenu .options select option {
  background-color: #000000;
}
#Dark .topbar .navbarMenu .options button svg {
  fill: yellow;
}
#Dark .topbar .mobNavbarMenu .openCloseIcon svg {
  fill: #F7F8F9;
}
#Dark .topbar .mobNavbarMenu .openCloseIcon .mobSubMenu {
  background-color: #0A0A0A;
}
#Dark .topbar .mobNavbarMenu .openCloseIcon select {
  color: #FFFDFA;
}
#Dark .topbar .mobNavbarMenu .openCloseIcon select option {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .topbar .mobNavbarMenu .openCloseIcon button svg {
  fill: yellow;
}
#Dark .home {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .offer {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .offer p a:hover {
  color: #FF9955;
}
#Dark .events {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .events .PostsItems {
  border-color: #FF9955;
}
#Dark .voucher {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .reservation {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .reservation a:hover {
  color: #FF9955;
}
#Dark .openinghours {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .team {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .team img {
  border-color: #FF9955;
}
#Dark .team a svg {
  stroke: #F7F8F9;
}
#Dark .team a svg:hover {
  stroke: #FF9955;
}
#Dark .voucher {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .newsletter {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .location {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .jobs {
  background-color: #161616;
  color: #F7F8F9;
}
#Dark .contact .contactForm form .object label {
  color: #F7F8F9;
}
#Dark .contact .contactForm form .object input, #Dark .contact .contactForm form .object textarea {
  background-color: #0A0A0A;
  color: #F7F8F9;
}
#Dark .contact .contactForm form .object input:focus, #Dark .contact .contactForm form .object textarea:focus {
  border-bottom: 1px solid gray;
}
#Dark .contact .contactForm form .confirmationMessage {
  background-color: #43a047;
  color: #F7F8F9;
}
#Dark .contact .contactForm form button {
  background-color: #FF9955;
  color: #161616;
}
#Dark .footer {
  background-color: #000000;
}
#Dark .footer .footerImpresumGroup .socialMedia li:hover {
  background-color: #FF9955;
}
#Dark .footer .footerImpresumGroup .socialMedia li svg {
  fill: #F7F8F9;
}
#Dark .footer .footerImpresumGroup .socialMedia li svg:hover {
  fill: #000000;
}
#Dark .footer .footerImpresumGroup .impresum1 a:hover {
  color: #000000;
  background-color: #FF9955;
}
#Dark .footer .footerImpresumGroup .impresum2 a:hover {
  color: #000000;
  background-color: #FF9955;
}
#Dark .footer .copyright {
  color: #F7F8F9;
  background-color: #161616;
}
#Dark .nomatch {
  background-color: #161616;
  color: #F7F8F9;
}
@media screen and (max-width: 1024px) {
  #Dark .reservation a {
    color: #FF9955;
  }
}
@media screen and (max-width: 480px) {
  #Dark .reservation a {
    color: #FF9955;
  }
}

#Light {
  background-color: #FFFDFA;
  color: #000000;
}
#Light p {
  color: #161616;
}
#Light a {
  color: #000000;
}
#Light h2 {
  color: #000000;
}
#Light label {
  color: #000000;
}
#Light .topbar {
  background-color: #F7F8F9;
}
#Light .topbar a {
  color: #000000;
}
#Light .topbar .navbarMenu .options select {
  color: #000000;
}
#Light .topbar .navbarMenu .options select option {
  background-color: #F7F8F9;
}
#Light .topbar .navbarMenu .options button svg {
  fill: darkblue;
}
#Light .topbar .mobNavbarMenu .openCloseIcon svg {
  fill: #161616;
}
#Light .topbar .mobNavbarMenu .openCloseIcon .mobSubMenu {
  background-color: #F7F8F9;
}
#Light .topbar .mobNavbarMenu .openCloseIcon select {
  color: #161616;
}
#Light .topbar .mobNavbarMenu .openCloseIcon select option {
  background-color: #FFFDFA;
  color: #161616;
}
#Light .topbar .mobNavbarMenu .openCloseIcon button svg {
  fill: darkblue;
}
#Light .home {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .events {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .events .PostsItems {
  border-color: #FF9955;
}
#Light .newsletter {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .reservation {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .reservation a:hover {
  color: #FF9955;
}
#Light .openinghours {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .team {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .team img {
  border-color: #FF9955;
}
#Light .team a svg {
  stroke: black;
}
#Light .team a svg:hover {
  stroke: #FF9955;
}
#Light .voucher {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .offer {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .offer p a:hover {
  color: #FF9955;
}
#Light .location {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .jobs {
  background-color: #FFFDFA;
  color: #000000;
}
#Light .contact .contactForm form .object label {
  color: #000000;
}
#Light .contact .contactForm form .object input, #Light .contact .contactForm form .object textarea {
  background-color: #F7F8F9;
}
#Light .contact .contactForm form .object input:focus, #Light .contact .contactForm form .object textarea:focus {
  border-bottom: 1px solid black;
}
#Light .contact .contactForm form .confirmationMessage {
  background-color: #43a047;
  color: #000000;
}
#Light .contact .contactForm form button {
  background-color: #FF9955;
}
#Light .footer {
  background-color: #F7F8F9;
}
#Light .footer .footerImpresumGroup .socialMedia {
  background-color: #F7F8F9;
}
#Light .footer .footerImpresumGroup .socialMedia li:hover {
  background-color: #FF9955;
}
#Light .footer .footerImpresumGroup .socialMedia li svg {
  fill: #000000;
}
#Light .footer .footerImpresumGroup .socialMedia li svg:hover {
  fill: #F7F8F9;
}
#Light .footer .footerImpresumGroup .impresum1 a:hover {
  color: #000000;
  background-color: #FF9955;
}
#Light .footer .footerImpresumGroup .impresum2 a:hover {
  color: #000000;
  background-color: #FF9955;
}
#Light .footer .copyright {
  color: #F7F8F9;
  background-color: #FFFDFA;
}
#Light .nomatch {
  background-color: #FFFDFA;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  #Light .reservation a {
    color: #FF9955;
  }
}
@media screen and (max-width: 480px) {
  #Light .reservation a {
    color: #FF9955;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 17px;
}

h2 {
  padding-bottom: 1em;
}

h3 {
  padding: 1em;
}

.home {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.home svg {
  width: 31.25em;
  height: 6.25em;
}
.home h3 {
  padding: 2em 0.5em 0.5em 0.5em;
}
.home p {
  padding: 0.5em 0.5em 0em 0.5em;
}

.voucher {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}

.team {
  max-width: 800px;
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.team .teamMember {
  padding: 25px;
}
.team .teamMember img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: #FF9955;
}
.team .teamMember .memberInfo a {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.team .teamMember .memberInfo a svg {
  width: 35px;
}
.team .teamMember .memberInfo a svg:hover {
  transition-timing-function: ease;
}

.jobs {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}

.openinghours {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.openinghours p {
  padding: 1em;
}

.reservation {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.reservation p {
  padding: 0.75em;
}
.reservation a {
  text-decoration: none;
}

.newsletter {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}

.offer {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.offer p {
  padding: 1em;
}
.offer a {
  text-decoration: none;
}
.offer a:hover {
  text-decoration: underline;
}

.events {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.events .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}
.events .posts .PostsItems {
  flex: 1 0 calc(70% - 50px);
  margin: 0 10px 25px;
  border-radius: 15px;
  overflow: hidden;
  border-style: solid;
  padding: 0.3em;
  max-height: none;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}
.events .posts .PostsItems p {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
.events .posts .PostsItems:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}
.events .posts .PostsItems .picture {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 5em;
  background-position: left;
  background-size: cover;
}
.events .posts .PostsItems button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  outline: none;
}
.events .posts .PostsItems button svg {
  width: 25px;
  height: 25px;
  fill: #FF9955;
}

.legalnotice {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}

.location {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.location h3 {
  padding: 15px;
}
.location a {
  text-decoration: none;
}
.location a:hover {
  filter: opacity(0.7);
  cursor: pointer;
  transition-timing-function: ease;
}
.location .frame {
  margin: auto;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.nomatch {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.nomatch h1 {
  padding-top: 50px;
  margin: 0px;
}
.nomatch h2 {
  padding: 50px;
}

.contact {
  min-height: 70vh;
  margin: auto;
  max-width: auto;
  padding-top: 1.75em;
  padding-bottom: 3em;
}
.contact .contactForm {
  max-width: 37.5em;
  margin: auto;
  text-align: center; /* Center-align the content horizontally */
}
.contact .contactForm form {
  padding: 0em 2em 1em 2em;
}
.contact .contactForm form .object label {
  color: #000000;
  margin: 2em 0em 0.5em 0em;
  font-weight: bold;
  text-align: left;
  display: block;
  padding-left: 0.5em;
}
.contact .contactForm form .object input, .contact .contactForm form .object textarea {
  border-radius: 0.5em;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid rgb(184, 177, 177);
  padding-left: 1em;
}
.contact .contactForm form .object input:focus, .contact .contactForm form .object textarea:focus {
  filter: brightness(1.2);
}
.contact .contactForm form .confirmationMessage {
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
.contact .contactForm form button {
  margin-top: 2.5em;
  width: 90%;
  max-width: 8em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .home svg {
    width: 100%;
    max-width: 15em;
    height: auto;
  }
  .events h1 {
    padding: 15px;
    margin: 0px;
  }
  .events .PostsItems {
    border-radius: 15px;
    height: 200px;
    width: 70%;
    border-style: solid;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
  }
  .events .PostsItems p {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .events .PostsItems h3 {
    margin: 0px;
    padding: 15px;
  }
  .events .PostsItems .picture {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100px;
    background-position: left;
    background-size: cover;
  }
  .location .frame {
    width: 100%;
    height: 60vh;
  }
  .reservation a {
    color: #FF9955;
  }
}
@media screen and (max-width: 480px) {
  .location .frame {
    width: 100%;
    height: 50vh;
  }
  .reservation a {
    color: #FF9955;
  }
}/*# sourceMappingURL=style.css.map */