//variables
$PrimLightColor:#FFFDFA !default;
$SecLightColor:#F7F8F9 !default;
$ColorOnHover: #FF9955 !default;
$PrimDarkColor : #161616 !default;
$SecDarkColor : #000000 !default;

//import extern style Files
@import "./image-gallery";
@import "./navbar";
@import "./footer";
@import "./Themes";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 17px;
}

//___________________ Home
.home {
  min-height: 70em;
  margin: auto;
  max-width: 1350px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 40px;

  h2{
    margin: 0px;
  }

  ul{
    list-style: none;

    li{
      padding: 10px;

    }
  } 

  svg {
    width: 500px;
    height: 250px;
  }
}

//__________________ Voucher
.voucher {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Team
.team {
  max-width: 800px;
  min-height: 70em;
  padding-top: 30px;
  margin: auto;

  h1{
    padding: 15px;
    margin: 0px;
  }

  .teamMember {
    padding: 25px;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border-style: solid;
      border-color: #FF9955;
    }
    .memberInfo {
      a {
        text-decoration: none;
        width: fit-content;
        margin: auto;
        svg{
          width: 35px;
          &:hover {
            transition-timing-function: ease;
          }
        }
      }
    }
  }
}

//__________________ Jobs
.jobs {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ OpeningHours
.openinghours {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Reservation
.reservation {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Newsletter
.newsletter {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Offer
.offer {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Events
.events {
  min-height: 70em;
  padding-top: 30px;
  max-width: 1350px;
  margin: auto;
  text-align: center;

  h1{
    padding: 15px;
    margin: 0px;
  }

  .PostsItems {
    border-radius: 15px;
    height: 200px;
    width: 70%;
    border-style: solid;
    padding: 5px;
    margin: auto;
    margin-top: 25px;

    p {
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }

    h3 {
        margin: 0px;
        padding: 15px;
    }

    &:hover {
      transition: 0.3s ease-in;
      cursor: pointer;
    }
    .picture {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 100px;
        background-position: left;
        background-size: cover;
    }
  }
}

//__________________ LegalNotice
.legalnotice {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
}

//__________________ Location
.location {
  min-height: 70em;
  padding-top: 30px;

  h1{
    padding: 15px;
    margin: 0px;
  }
  a {
    text-decoration: none;
    &:hover {
      filter: opacity(0.7);
      cursor: pointer;
      transition-timing-function: ease;
    }
  } 

  .frame{
    margin: auto;
    width: 100%;
    height: 100%;
    overflow:hidden;
    position:relative;
  }
}

//__________________ NoMatch
.nomatch {
  min-height: 70em;

  h1 {
    padding-top:50px;
    margin: 0px;
  }

  h2 {
    padding:50px;
  }
}

//__________________ Contact
.contact {
  min-height: 70em;

  h1{
      padding: 15px;
      margin: 0px;
  }

  .contactForm {
    max-width: 600px;
    padding-top: 100px;
    margin: auto;

    form {
      padding: 15px;
      margin: auto;

      .object {

        label {
          color:$SecDarkColor;
          margin: 20px 0px;
          text-align: left;
          display: block;
        }

        input, textarea {
          width: 100%;
          outline: none;
          resize: none;
          border: none;
          border-bottom: 1px solid rgb(184, 177, 177);
          &:focus {
            border-bottom: 1px solid black;
            filter: brightness(1.2);
          }
        }
      }

      .fileUploadIcon{
        max-width: 200px;
        margin: auto;
        
        label {
          color: $SecDarkColor;
          display: block;
        }

        svg {
          fill: $SecDarkColor;
          width: 80px;
          margin-top: 15px;
          margin: 10px 0px 15px 0px;
          &:hover {
            fill: grey;
            filter: brightness(0.9);
            cursor: pointer;
          }
        }
      }

      button {
        margin-top: 50px;
        width: 90%;
        max-width: 150px;
        background-color: #33383b;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;
        font-size: 17px;
      }
    }
  }
}

//Laptops
@media screen and (max-width: 1024px) {

}

//Tablets
@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}


//Phones
@media screen and (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}